.WeatherContainer {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 1fr 1fr;
    font-size: 18px;
}

.WeatherContainer .underline {
    background-color: white;
    width: 70%;
    height: 10px;
    border-radius: 7px;
}

/*HEADERS*/
.WeatherContainer h1 {
    font-weight: bolder;
    font-size: 7rem;
    line-height: 6rem;
}

.WeatherContainer h2 {
    font-size: 2.3rem;
}

.WeatherContainer h3 {
    font-size: 1.5rem;
}

.WeatherContainer h4 {
    font-size: 1.2rem;
    font-weight: normal;
}

/*UPPER CONTAINER*/
.WeatherContainer .upperContainer {
    color: white;
    display: grid;
    grid-template:  1fr / auto auto;
    row-gap: 10px;
    column-gap: 40px;
    justify-items: center;
}

/*WEATHER*/
.WeatherContainer .weather {
    text-align: center;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

/*CLIMATE*/
.WeatherContainer .climate {
    display: flex;   
    flex-flow: column;
    align-items: center;
}

.WeatherContainer .temperature {
    display: flex;
    align-items: baseline;
}

/*ATMOSPHERE*/
.WeatherContainer .atmosphere {
    margin-top: 15px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.spacer-bar {
    background-color: white;
    height: 70px;
    width: 4px;
    border-radius: 7px;
}

.WeatherContainer .icon {
    height: 30px;
    width: auto;
    fill: white;
    margin-left: 5px;
}

.WeatherContainer .atmo-prop {
    display: flex;
}

/*CITY*/
.WeatherContainer .city {
    vertical-align: text-top;
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
}

/*LOWER CONTAINER*/
.WeatherContainer .lowerContainer {
    padding: 20px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/*MEDIA QUERIES*/

@media only screen and (max-width: 770px) {
    .WeatherContainer .upperContainer {
        grid-template:  auto auto / 1fr;
    }

    .WeatherContainer .city {
        grid-area: 1 / 1 / span 1 / span 1;
    }
}

@media only screen and (max-width: 480px) {
    .WeatherContainer {
        grid-template-rows: auto 1fr;
    }

    .WeatherContainer .upperContainer {
        row-gap: 40px;
    }
}