/*GLOBAL*/
html,
body, 
#root,
.App {
  height: 100%;
  font-size: 18px;
}

/*APP*/
.App {
  height: 100%;
}

h1,h2,h3,h4 {
  margin: 0;
}

@media only screen and (max-width: 480px) {
  html,
  body, 
  #root,
  .App {
    font-size: 12px;
  }
}